<div class="page-header">
  <h1>Todo <small>Application</small></h1>
</div>

<div class="panel panel-default">

  <div class="panel-body">

    <div class="form-group">
      <div class="col-md-8 vcenter">
        <h3>Загрузить задачи</h3>
      </div><!-- yes, this is hack
 --><div class="col-md-4 text-right vcenter">
      <custom-button
        ng-click="$ctrl.onLoadClick()"
        class="$ctrl.optionsLoadButton.class"
        title="$ctrl.optionsLoadButton.title"
        disabled="$ctrl.optionsLoadButton.disabled"
      ></custom-button>
    </div>
    </div>

  </div>

</div>

<!--<todo-list-->
<!--options="$ctrl.optionsTodoList"-->
<!--on-selected-list-change="$ctrl.handleSelectedListChange(list)"-->
<!--&gt;</todo-list>-->

<todo-layout></todo-layout>
