body {
  background-color: lightgrey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

// angular в ng-repeat не дает установить класс active на тег <li>, поэтому добавляю класс и стиль на тег <а>
.pagination a.active,
.pagination a.active:focus,
.pagination a.active:hover,
.pagination span.active,
.pagination span.active:focus,
.pagination span.active:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.inside-textarea-container{
  position: relative;
}
.inside-textarea-btn{
  position: absolute;
  top: 0;
}

.separator-box{
  margin-top: 50px;
  padding: 50px;
  background: white;
}
